.header{
    text-align: center;
    color: black;
    height: 500px;
}
.header nav{
    line-height: 40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 20px;
    padding: 5px;

}
.head{
    margin:20px;
}